.translationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translationGroup {
    display: flex;
    flex-direction: row;

    label {
        margin-right: 20px;
    }

    button {
        margin-top: 20px;
    }
}