.itemsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 100%;

    .itemTitle {
        width: 75%;
    }

    .operationWrapper {
        width: 25%
    }

    .itemHeaderWrapper {
        background-color: cornflowerblue;
        color: white;
        font-weight: 500;
        width: 100%;
        display: flex;
    }

    .itemWrapper {
        width: 100%;
        display: flex;
        height: 54px;
        padding: 6px 10px;

        &[data-index="0"] {
            background-color: white;
            color: black;
        }

        &[data-index="1"] {
            background-color: coral;
            color: white;
        }
    }
}